registry=https://registry.npmjs.org/
auto-install-peers=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
network-timeout=300000
fetch-retries=5
fetch-retry-mintimeout=100000
fetch-retry-maxtimeout=600000
